
<section class="max-w-6xl mx-auto px-4 text-center mt-16" id="services">
    <h2 class="text-3xl md:text-4xl font-bold mb-10">Mis Servicios</h2>
  
    <!-- Grid responsivo -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-items-center">
  
      <!-- Servicio 1 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full ">
            <img src={`${import.meta.env.BASE_URL}wordpress-icon.webp`} alt="Sitios web WordPress personalizado" />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">Sitios web WordPress personalizado</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Diseño y desarrollo a medida de sitios web profesionales usando WordPress. Responsive, escalables y adaptados a las necesidades de tu negocio o proyecto.</p>
      </div>
  
      <!-- Servicio 2 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full p-2">
            <img src={`${import.meta.env.BASE_URL}woocommerce-icon.webp`} alt="E-commerce con WooCommerce"  />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">E-commerce con WooCommerce</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Creación de tiendas online completas con WooCommerce y pasarelas de pago integradas. Gestión de inventario, usuarios y pedidos desde el panel de WordPress.</p>
      </div>
  
      <!-- Servicio 3 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full ">
            <img src= {`${import.meta.env.BASE_URL}security-icon.webp`} alt="Optimización y seguridad" />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">Optimización y Seguridad</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Análisis y mejora del rendimiento, velocidad y protección contra amenazas, actualización de plugins y respaldos automatizados.</p>
      </div>
  
      <!-- Servicio 4 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full ">
            <img src={`${import.meta.env.BASE_URL}divi-icon.webp`} alt="Frontend Moderno" />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">Frontend Moderno con Divi / Elementor</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Diseño visual atractivo y funcional usando los builders más populares de WordPress. No se necesita codificar para editar contenido fácilmente.</p>
      </div>
  
      <!-- Servicio 5 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full ">
            <img src={`${import.meta.env.BASE_URL}node-icon.webp`} alt="Backend con Node.js y MariaDB" />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">Backend con Node.js y bases de datos MariaDB</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Desarrollo de APIs y funcionalidades avanzadas con Node.js conectadas a bases de datos robustas como MariaDB o PostgreSQL.</p>
      </div>
  
      <!-- Servicio 6 -->
      <div class="card bg-base-100 shadow-xl rounded-lg p-4 flex flex-col items-center text-center w-full max-w-xs transition-transform hover:scale-105 duration-200">
        <div class="avatar mb-3">
          <div class="w-15 rounded-full ">
            <img src={`${import.meta.env.BASE_URL}analisis-icon.webp`} alt="Análisis Técnico" />
          </div>
        </div>
        <h3 class="font-bold text-md mb-1">Análisis Técnico y Plan de Contingencia</h3>
        <p class="text-xs md:text-sm text-gray-600 dark:text-gray-200">Evaluación detallada de tecnologías utilizadas, detección de vulnerabilidades e implementación de estrategias ante posibles ciberataques.</p>
      </div>
  
    </div>
  </section>
